.main_block_superadmin{
    flex: 7;
}

.shadow_card{
    box-shadow: 0px 0px 10px -5px;
}

.overflow_scroll_list{
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
  }

  @media screen and (max-width: 500px) {
    .navigation_bar{
      flex-direction: column;
    }
  }